* {
    padding: 0;
    margin: 0;
}

@media (min-aspect-ratio: 1/1) {
    header {
        background-color: transparent;
        backdrop-filter: blur(0.2vmin);
    }
}

body {
    scroll-behavior: smooth;
}

.link {
    color: var(--palette-color-1);
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;
    text-underline-offset: 0.5vmin;
    text-decoration-color: var(--palette-color-3);
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
}
.link:hover {
    text-decoration-color: var(--palette-color-2);
    color: var(--palette-color-0);
    transition: 0.25s ease-in-out;
}

#top {
    height: 90vh;
    display: flex;
    flex-direction: row;
}

#top .image {
    width: 60vw;
    align-content: center;
    background: rgb(179,183,238);
    background: radial-gradient(circle, rgba(179,183,238,1) 0%, rgba(147,149,211,1) 56%, rgba(110,113,173,1) 100%);
    /* background: rgb(147,149,211);
    background: radial-gradient(circle, rgba(147,149,211,1) 0%, rgba(179,183,238,1) 100%); */
}

#top .image img {
    opacity: 0;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0s, 0s;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    filter: drop-shadow(0.5vmin 0.5vmin 0.5vmin rgba(50, 50, 50, 0.85));
}

#top .align {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 40vw;
    background: var(--secondary-background-color);
    /* border-bottom: 0.3vh solid var(--palette-color-2); */
}
#top .align .text {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    font-family: Verdana, sans-serif;
    font-size: 2vw;
    color: var(--palette-color-3);
}
#top .align .text .title {
    color: var(--palette-color-1);
    font-size: 3vw;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#top .align .text .description {
    opacity: 0;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#top .align .text .down-arrow {
    opacity: 0;
    font-size: 5vmin;
    margin-top: 3vh;
    color: var(--palette-color-1);
    font-weight: bolder;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.75s, 0.75s;
}

#middle {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle .left-text {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: 1.5vw;
    color: var(--palette-color-2);
}
#middle .left-text .title {
    color: var(--palette-color-1);
    margin-bottom: 2.5vh;
    font-size: 2vw;
    font-weight: bold;
    opacity: 0;
}
#middle .left-text.in-view .title {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#middle .left-text .description {
    opacity: 0;
}
#middle .left-text.in-view .description {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#middle .container {
    display: flex;
    flex-direction: row;
}

#middle .right-text {
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: 1.5vw;
    color: var(--palette-color-3);
    font-style: italic;
}
#middle .right-text .emphasis {
    font-weight: bold;
    color: var(--palette-color-1);
    font-style: normal;
}
#middle .right-text div {
    margin-bottom: 5vh;
}
#middle .right-text .timeline {
    opacity: 0;
}
#middle .right-text.in-view .timeline {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#middle .right-text .role {
    opacity: 0;
}
#middle .right-text.in-view .role {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#middle .right-text .skills {
    opacity: 0;
}
#middle .right-text.in-view .skills {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.75s, 0.75s;
}

#middle1 {
    height: 60vh;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.m-images {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#middle1 .m-images div img {
    width: 15vw;
    margin-left: 3vw;
    margin-right: 3vw;
    filter: drop-shadow(0.5vmin 0.5vmin 0.5vmin gray);
}
.m-text {
    font-family: Verdana, sans-serif;
    font-size: 2vmin;
    color: var(--palette-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 5vh;
    margin-top: 7vh;
}
.m-container {
    width: 80vw;
    text-align: center;
}

#middle2 {
    height: 75vh;
    display: flex;
    flex-direction: column;
}
#middle2 .m-images {
    margin-top: 12vh;
}
#middle2 .m-images div img {
    width: 30vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    filter: drop-shadow(0.5vmin 0.5vmin 0.5vmin gray);
}

#middle3 {
    height: 55vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}
#middle3 .m-images div img {
    width: 30vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    filter: drop-shadow(0.5vmin 0.5vmin 0.5vmin gray);
}

#bottom {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom .m-text {
    align-self: center;
    display: flex;
    flex-direction: column;
}
#bottom .m-text .m-container {
    margin-top: 1vh;
}
.quote {
    color: var(--lighter_gray);
    font-style: italic;
}

@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-aspect-ratio: 1/1) {
    #middle .left-text {
        font-size: 2.5vmin;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 54vw;
    }
    #middle .left-text .title {
        font-size: 3vmin;
    }
    #middle .right-text {
        font-size: 2.5vmin;
        width: 39vw;
    }
    #top .align .text {
        font-size: 2.75vmin;
    }
    #top .align .text .title {
        font-size: 4vmin;
    }
    #top .image img {
        width: 50vw;
    }

    #middle1 {
        height: auto;
    }
    .m-images {
        flex-direction: column;
        align-items: center;
    }
    .m-text {
        font-size: 3vmin;
    }
    #middle1 .m-images div img {
        width: 70vw;
        margin-bottom: 5vh;
    }

    #middle2 {
        height: auto;
    }
    #middle2 .m-images div img {
        width: 70vw;
        margin-bottom: 5vh;
    }

    #middle3 {
        height: auto;
    }
    #middle3 .m-images {
        flex-direction: column;
    }
    #middle3 .m-images div img {
        width: 70vw;
        margin-bottom: 5vh;
    }
    #bottom {
        height: 30vh;
    }
}
@media (max-aspect-ratio: 0.75/1) {
    #top {
        height: auto;
        flex-direction: column;
    }
    #top .image {
        height: 90vh;
        width: 100%;
    }
    #top .image img {
        width: 80vw;
    }
    #top .align {
        height: 50vh;
        width: 100%;
    }
    #top .align .text {
        font-size: 6vmin;
        width: 90vw;
        height: 40vh;
    }
    #top .align .text .title {
        font-size: 8vmin;
    }

    #middle {
        height: auto;
    }
    #middle .container {
        flex-direction: column;
        margin-top: 5vh;
    }
    #middle .left-text {
        font-size: 4vmin;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 94vw;
    }
    #middle .left-text .title {
        font-size: 5vmin;
    }
    #middle .right-text {
        margin-top: 5vh;
        font-size: 4vmin;
    }
    #middle .right-text div {
        margin-left: 5vw;
        width: 90vw;
    }

    #middle1 {
        height: auto;
    }
    #middle1 .m-text {
        margin-bottom: 5vh;
    }
    .m-text {
        font-size: 4vmin;
    }
    #middle3 {
        height: auto;
    }
    #middle3 .m-images {
        flex-direction: column;
    }
    #middle3 .m-images div {
        margin-bottom: 5vh;
    }
    #middle3 .m-images div img {
        width: 80vw;
    }
    
    #middle2 {
        height: auto;
    }
    #bottom {
        height: 25vh;
    }
    #bottom .m-text {
        font-size: 3vmin;
    }
}

@media (max-aspect-ratio: 0.5/1) {
    #top .image img {
        width: 90vw;
    }
    #top .image {
        height: 75vh;
    }
    #top .align {
        height: 35vh;
    }
    #top .align .text {
        width: 90vw;
        height: 30vh;
    }
}