*{
    margin: 0;
    padding: 0;
}

main {
    height: 150vh;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    height: 25vh;
    margin-top: 7vh;
    justify-content: center;
}
.centered .container {
    align-content: center;
    width: 22.5vmin;
}
.centered .container .title {
    font-family: Verdana, sans-serif;
    font-size: 5.5vmin;
    color: var(--palette-color-1);
    overflow: hidden;
    border-right: 0.15vw solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
    animation: typing 1s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 1.5s;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 10vw;
    list-style-type: none;
    width: 45vw;
}
.list li {
    margin-bottom: 12.5vh;
    font-family: Verdana, sans-serif;
    opacity: 0;
}
.list .date {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5vmin;
    padding: 0.25vmin;
    color: var(--palette-color-3);
}
.list .heading {
    margin-top: -0.5vmin;
    font-weight: bold;
    font-size: 4vmin;
    color: var(--palette-color-1);
}
.list .description {
    font-size: 2.25vmin;
    color: var(--palette-color-1);
}
.list .button {
    text-align: left;
    white-space: nowrap;
    align-content: center;
    cursor: pointer;
    border-radius: 4px;
    width: 7vw;
    height: 2.75vh;
}
.list .button a {
    text-decoration: none;
    color: var(--palette-color-3);
}
.list .button .text {
    margin-left: 2vw;
    font-size: 1.3vmin;
    margin-right: -0.1vmin;
    font-weight: bolder;
}
.list .button:hover .text {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-2);
}
.list .button .arrow {
    font-size: 1.4vmin;
}
.list .button:hover .arrow {
    transition: 0.25s ease-in-out;
    margin-left: 1.4vmin;
}
.list li.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
.list .one.in-view {
    animation-delay: 0.25s, 0.25s;
}
.list .two.in-view {
    animation-delay: 0.5s, 0.5s;
}
.list .three.in-view {
    animation-delay: 0.75s, 0.75s;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--palette-color-4); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}