/* Logo is the letter Q in the font Satisfy, 100x100px */
*{
    padding: 0;
    margin: 0%;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.scroll-control {
    position: fixed;
    left: 2%;
    top: 50%;
    z-index: 999;
}

.invisible {
    display: none;
}

.scroll-control .origin {
    cursor: pointer;
    display: block;
    width: 1.6vmin;
    height: 1.6vmin;
    border-radius: 50%;
    margin: 1vmin 0;
    background-color: var(--palette-color-0);
    opacity: 0.6;
}

.scroll-control .origin:hover {
    transition: 0.25s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.bolded {
    cursor: pointer;
    display: block;
    width: 1.6vmin;
    height: 1.6vmin;
    border-radius: 50%;
    margin: 1vmin 0;
    background-color: var(--palette-color-0);
    opacity: 1;
}

#intro { /* id */
    height: 100vh;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.intro { /* class */
    position: absolute;
    margin-left: 10vw;
    font-size: 5vmin;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-2);
    width: 50vw;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--palette-color-4); }
}
.container .typed-out-text {
    overflow: hidden;
    border-right: var(--carat-thickness) solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
}

.container .typed-out-text.in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

.intro .container {
    width: 35.5vmin;
    height: 4vmin;
    padding-bottom: 1.5vmin;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text .description {
    opacity: 0;
    padding-bottom: 0.75vmin;
}

.fade-in-text .description.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

.fade-in-text .small-text {
    opacity: 0;
    font-size: 3vmin;
}

.fade-in-text .small-text.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.5s, 0.5s;
}

.emphasis.link:hover {
    transition: 0.25s ease-in-out;
    text-decoration-color: var(--palette-color-2);
    color: var(--palette-color-0)
}

.emphasis {
    color: var(--palette-color-1);
    font-weight: bold;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    text-underline-offset: 0.5vmin;
    text-decoration-color: var(--palette-color-3);
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    z-index: 996;
}

#about {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#about .img-container {
    width: auto;
    margin-right: 2vw;
}

#about .text-container {
    display: flex;
    flex-direction: column;
}

#about .text-container .button {
    margin-top: 0.7vh;
    margin-left: 1.3vw;
    opacity: 0;
}

#about .text-container .button a {
    text-decoration: none;
    color: var(--palette-color-3);
    font-weight: bold;
    font-size: 2vmin;
    font-family: Verdana, sans-serif;
}

#about .text-container .button a .arrow {
    font-size: 2.5vmin;
}

#about .text-container .button:hover .arrow {
    margin: 1.4vmin;
    transition: 0.25s ease-in-out;
}

#about .text-container .button:hover .text {
    color: var(--palette-color-2);
    transition: 0.25s ease-in-out;
}

#about .text-container .button.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.35s, 0.35s;
}

.about-text {
    font-family: Verdana, sans-serif;
    font-size: 4vmin;
    color: var(--palette-color-1);
    width: 40vw;
}

.about-text .description {
    opacity: 0;
    color: var(--palette-color-2);
    font-weight: bold;
}

.about-text .container {
    width: 26.25vmin;
}

.about-text .container .small-text{
    font-size: 2.48vmin;
    overflow: hidden;
    border-right: var(--carat-thickness) solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
    font-weight: light;
}

#about .about-text .container .in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

@keyframes moveInPic {
    from {transform: translateY(3vh)}
    to {transform: translateY(0vh)}
}

#about .pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0;
    height: 45vmin;
    width: auto;
    
    border-bottom: 1px
}
    
#about .in-view.description {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

#about .in-view.pic {
    animation: fadeIn 1.5s forwards,
        moveInPic 1s forwards;;
    animation-delay: 0.55s, 0.55s;
}

#projects {
    height: 175vh;
    display: flex;
    flex-direction: column;
}

#projects .centered {
    display: flex;
    height: 25vh;
}

#projects .centered .container {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 22.5vmin;
    align-content: center;
    height: 6vh;
}

#projects .title {
    font-size: 5.5vmin;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-1);
    overflow: hidden;
    border-right: var(--carat-thickness) solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
}

#projects .title.in-view {
    animation: typing 1s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 1.5s;
}

#projects .list {
    list-style-type: none;
    color: var(--palette-color-1);
    font-family: Verdana, sans-serif;
}

@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}

#projects .list li {
    margin-left: 15vw; 
    margin-bottom: 20vh;
    opacity: 0;
    display: flex; 
    flex-direction: row;
}

#projects .list .text-part {
    width: 45vw;
}
#projects .list .image-part {
    margin-left: 1vw;
}
#projects .list .one .image-part {
    margin-left: 2.5vw;
}
#projects .list .image-part img {
    height: 35vh;
    margin-top: -10vh;
    filter: drop-shadow(0.5vmin 0.5vmin 0.5vmin rgba(50, 50, 50, 0.85));
}

#projects .list li.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .list .one {
    margin-top: 10vh;
}

#projects .list .three {
    margin-bottom: 0;
}

#projects .list .date {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5vmin;
    padding: 0.25vmin;
    color: var(--palette-color-3);
}

#projects .list .heading {
    margin-top: -0.5vmin;
    font-weight: bold;
    font-size: 4vmin;
    color: var(--palette-color-1);
}

#projects .list .description {
    font-size: 2.25vmin;
    color: var(--palette-color-1);
}

#projects .list .button {
    text-align: left;
    white-space: nowrap;
    align-content: center;
    cursor: pointer;
    border-radius: 4px;
    width: 7vw;
    height: 2.75vh;
}

#projects .list .button a {
    text-decoration: none;
    color: var(--palette-color-3);
}

#projects .list .button .text {
    margin-left: 2vw;
    font-size: 1.3vmin;
    margin-right: -0.1vmin;
    font-weight: bolder;
}

#projects .list .button:hover .text {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-2);
}

#projects .list .button .arrow {
    font-size: 1.4vmin;
}

#projects .list .button:hover .arrow {
    transition: 0.25s ease-in-out;
    margin-left: 1.4vmin;
}

#projects .button-centered {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
}

#projects .button-centered .more-projects {
    height: 4vh;
    text-align: center;
    opacity: 0;
}

#projects .more-projects.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .more-projects a {
    text-decoration: none;
    color: var(--palette-color-1);
    font-weight: bolder;
    font-size: 3vmin;
    font-family: Verdana, sans-serif;
}

#projects .more-projects:hover a {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-0);
}

#projects .more-projects:hover {
    cursor: pointer;
}

#projects .more-projects:hover .down-arrow {
    animation: moveArrow 0.25s forwards;
    animation-delay: 0s;
    border-color: var(--palette-color-0);
    transition: 0.25s ease-in-out;
}

@keyframes moveArrow {
    from {transform: translateY(0rem) rotate(45deg)}
    to {transform: translateY(1rem) rotate(45deg)}
}

.down-arrow {
    border: solid var(--palette-color-1);
    border-width: 0 0.7vmin 0.7vmin 0;
    display: inline-block;
    padding: 1vmin;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (max-aspect-ratio: 1/1) {
    /* Tall */
    #intro .intro {
        width: 75vw;
    }
    #projects .list .image-part {
        display: none;
    }
    .about-text {
        font-size: 3.5vmin;
    }
    #intro {
        height: 100vh;
    }
    #about {
        height: 75vh;
    }
    #about .pic {
        height: 40vmin;
    }

    #projects .title {
        margin-left: 0vw;
    }
    #projects .centered {
        justify-content: center;
        height: 15vh;
    }
    #projects .centered .container {
        margin-left: 0vw;
        margin-top: 5vh;
        align-self: center;
    }
    #projects .list li {
        margin-left: 15vw;
        margin-bottom: 5vh;
    }
    #projects .list li .text-part {
        width: 70vw;
    }
    #projects .list {
        margin-top: -5vh;
        margin-bottom: -5vh;
    }
    #projects {
        height: 105vh;
    }
}

@media (max-aspect-ratio: 0.75/1) {
    body {
        --carat-thickness: 0.35vw;
    }
    #projects {
        height: 100vh;
    }
    #projects .list li {
        margin-left: 5vw;
        margin-bottom: 7.5vh;
    }
    #projects .list li .text-part {
        width: 93vw;
    }
    #projects .list .date {
        font-size: 2vmin;
    }
    #projects .list .description {
        font-size: 3vmin;
    }
    #projects .list .button {
        margin-left: 5vw;
        margin-top: 1vh;
    }
    #projects .list .button .text {
        font-size: 4vmin;
    }
    #projects .list .button .arrow {
        font-size: 4vmin;
    }
    #projects .button-centered {
        margin-top: 11vh;
    }
    #intro {
        height: 125vh;
    }
    #intro .intro {
        width: 95vw;
        margin-left: 2.5vw;
        font-size: 7.5vmin;
    }
    .intro .container {
        width: 50.5vmin;
        margin-bottom: 2vh;
    }
    .fade-in-text .small-text {
        font-size: 5vmin;
        margin-left: 0.3vw;
    }
    #about {
        height: 125vh;
        flex-direction: column;
    }
    #about .about-text {
        width: 95vw;
        font-size: 5vmin;
    }
    #about .img-container {
        margin-bottom: 5vh;
    }
    #about .img-container img {
        width: 70vw;
        height: auto
    }
    #about .container {
        width: 42.5vmin;
    }
    #about .container .small-text {
        font-size: 4vmin;
    }
    #about .text-container .button a {
        font-size: 3.5vmin;
    }
    
    #about .text-container .button a .arrow {
        font-size: 3.5vmin;
    }
    #about .text-container .button {
        margin-left: 6vw;
        margin-top: 2vh;
    }
    #projects {
        height: 150vh;
    }
    #projects .title {
        font-size: 12vmin;
    }
    #projects .centered .container {
        width: 49vmin;
    }
    #projects .list .date {
        font-size: 3.5vmin;
    }
    #projects .list .heading {
        font-size: 8vmin;
    }
    #projects .list .description {
        font-size: 5vmin;
    }
    #projects .more-projects a {
        font-size: 7vmin;
    }
    .down-arrow {
        border-width: 0 2vmin 2vmin 0;
        padding: 2vmin;
    }

}
@media (max-aspect-ratio: 0.5/1) {
    #projects .list li {
        margin-left: 5vw;
        margin-bottom: 7.5vh;
    }
    #projects .list li .text-part {
        width: 93vw;
    }   
    #projects .list .date {
        font-size: 2vmin;
    }
    #projects .list .description {
        font-size: 3vmin;
    }
    #projects .list .button {
        margin-left: 5vw;
        margin-top: 1vh;
    }
    #projects .list .button .text {
        font-size: 5vmin;
    }
    #projects .list .button .arrow {
        font-size: 5vmin;
    }
    #projects .button-centered {
        margin-top: 11vh;
    }
    #intro {
        height: 100vh;
    }
    #intro .intro {
        width: 95vw;
        margin-left: 2.5vw;
        font-size: 7.5vmin;
    }
    .intro .container {
        width: 50.5vmin;
        margin-bottom: 2vh;
    }
    .fade-in-text .small-text {
        font-size: 5vmin;
        margin-left: 0.3vw;
    }
    #about {
        height: 125vh;
        flex-direction: column;
    }
    #about .about-text {
        width: 95vw;
        font-size: 6.5vmin;
    }
    #about .img-container {
        margin-bottom: 5vh;
    }
    #about .img-container img {
        width: 70vw;
        height: auto
    }
    #about .container {
        width: 53vmin;
    }
    #about .container .small-text {
        font-size: 5vmin;
    }
    #about .text-container .button a {
        font-size: 4vmin;
    }
    
    #about .text-container .button a .arrow {
        font-size: 4vmin;
    }
    #about .text-container .button {
        margin-left: 6vw;
        margin-top: 2vh;
    }
    #projects {
        height: 140vh;
    }
    #projects .title {
        font-size: 12vmin;
    }
    #projects .centered .container {
        width: 49vmin;
    }
    #projects .list .date {
        font-size: 4vmin;
    }
    #projects .list .heading {
        font-size: 9vmin;
    }
    #projects .list .description {
        font-size: 6vmin;
    }
    #projects .more-projects a {
        font-size: 7vmin;
    }
    .down-arrow {
        border-width: 0 2vmin 2vmin 0;
        padding: 2vmin;
    }
}