/* Logo is the letter Q in the font Satisfy, 100x100px */
*{
    padding: 0;
    margin: 0%;
}

.scroll-control {
    position: fixed;
    left: 2%;
    top: 50%;
    z-index: 999;
}

.invisible {
    display: none;
}

.scroll-control .origin {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: var(--palette-color-0);
    opacity: 0.6;
}

.scroll-control .origin:hover {
    transition: 0.25s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.bolded {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: var(--palette-color-0);
    opacity: 1;
}

#social-media-overlay {
    position: fixed;
    bottom: 0.5%;
    right: 2%;
    width: 11.5%;
    height: 8%;
    align-content: center;
    align-items: center;
    justify-content: right;
    z-index: 997;
}

#social-media-overlay ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

#social-media-overlay ul li {
    margin: 5%;
}

#social-media-overlay ul li:hover {
    transition: .25s ease-in-out;
    opacity: 0.75;
    /* filter: drop-shadow(1.5px 1.5px 1.5px gray); */
}

#social-media-overlay ul li a img {
    height: 5vmin;
    width: 5vmin;
}

#intro { /* id */
    height: 100vh;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.intro { /* class */
    position: absolute;
    margin-left: 10vw;
    font-size: 5vmin;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-2);
    width: 50vw;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--palette-color-4); }
  }
.container .typed-out-text {
    overflow: hidden;
    border-right: 0.15vw solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
}

.container .typed-out-text.in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

.intro .container {
    width: 35.5vmin;
    height: 4vmin;
    padding-bottom: 1.5vmin;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text .description {
    opacity: 0;
    padding-bottom: 0.75vmin;
}

.fade-in-text .description.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

.fade-in-text .small-text {
    opacity: 0;
    font-size: 3vmin;
}

.fade-in-text .small-text.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.5s, 0.5s;
}

.emphasis.link:hover {
    transition: 0.25s ease-in-out;
    text-decoration-color: var(--palette-color-2);
    color: var(--palette-color-0)
}

.emphasis {
    color: var(--palette-color-1);
    font-weight: bold;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    text-underline-offset: 0.5vmin;
    text-decoration-color: var(--palette-color-3);
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    z-index: 996;
}

#about {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#about .img-container {
    width: auto;
    margin-right: 2vw;
}

.about-text {
    font-family: Verdana, sans-serif;
    color: var(--palette-color-1);
    width: 40vw;
}

.about-text .description {
    opacity: 0;
    color: var(--palette-color-2);
    font-weight: bold;
}

.about-text .description .emphasis:hover {

}

.about-text .container {
    width: 26.25vmin;
}

.about-text .container .small-text{
    font-size: 2.48vmin;
    overflow: hidden;
    border-right: 0.15vw solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
    font-weight: light;
}

#about .about-text .container .in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

@keyframes moveInPic {
    from {transform: translateY(3vh)}
    to {transform: translateY(0vh)}
}

#about .pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0;
    height: 45vmin;
    width: auto;
    
    border-bottom: 1px
}
    
#about .in-view.description {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

#about .in-view.pic {
    animation: fadeIn 1.5s forwards,
        moveInPic 1s forwards;;
    animation-delay: 0.5s, 0.5s;
}

#projects {
    height: 175vh;
    display: flex;
    flex-direction: column;
}

#projects .centered {
    display: flex;
    height: 25vh;
}

#projects .centered .container {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 22.5vmin;
    align-content: center;
    height: 6vh;
}

#projects .title {
    font-size: 5.5vmin;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-1);
    overflow: hidden;
    border-right: 0.15vw solid var(--palette-color-4);
    width: 0;
    white-space: nowrap;
}

#projects .title.in-view {
    animation: typing 1s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 1.5s;
}

#projects .list {
    list-style-type: none;
    color: var(--palette-color-1);
    font-family: Verdana, sans-serif;
}

@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}

#projects .list li {
    margin-left: 15vw;
    width: 40vw;
    margin-bottom: 20vh;
    opacity: 0;
}

#projects .list li.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .list .one {
    margin-top: 10vh;
}

#projects .list .date {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5vmin;
    padding: 0.25vmin;
    color: var(--palette-color-3);
}

#projects .list .heading {
    margin-top: -0.5vmin;
    font-weight: bold;
    font-size: 4vmin;
    color: var(--palette-color-1);
}

#projects .list .description {
    font-size: 2.25vmin;
    color: var(--palette-color-1);
}

#projects .list .button {
    text-align: left;
    white-space: nowrap;
    align-content: center;
    cursor: pointer;
    border-radius: 4px;
    width: 7vw;
    height: 2.75vh;
}

#projects .list .button a {
    text-decoration: none;
    color: var(--palette-color-3);
}

#projects .list .button .text {
    margin-left: 2vw;
    font-size: 1.3vmin;
    margin-right: -0.1vmin;
    font-weight: bolder;
}

#projects .list .button:hover .text {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-2);
}

#projects .list .button .arrow {
    font-size: 1.4vmin;
}

#projects .list .button:hover .arrow {
    transition: 0.25s ease-in-out;
    margin-left: 1.4vmin;
}

#projects .button-centered {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

#projects .button-centered .more-projects {
    width: 15vw;
    height: 4vh;
    text-align: center;
    opacity: 0;
}

#projects .more-projects.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .more-projects a {
    text-decoration: none;
    color: var(--palette-color-1);
    font-weight: bolder;
    font-size: 3vmin;
    font-family: Verdana, sans-serif;
}

#projects .more-projects:hover a {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-0);
}

#projects .more-projects:hover {
    cursor: pointer;
}

#projects .more-projects:hover .down-arrow {
    animation: moveArrow 0.25s forwards;
    animation-delay: 0s;
    border-color: var(--palette-color-0);
    transition: 0.25s ease-in-out;
}

@keyframes moveArrow {
    from {transform: translateY(0rem) rotate(45deg)}
    to {transform: translateY(1rem) rotate(45deg)}
}

.down-arrow {
    border: solid var(--palette-color-1);
    border-width: 0 0.7vmin 0.7vmin 0;
    display: inline-block;
    padding: 1vmin;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media (max-aspect-ratio: 1/1) {
    /* Tall */
    .about-text {
        font-size: 3vmin;
    }
    #intro {
        height: 100vh;
    }
    #about {
        height: 75vh;
    }

    #projects .title {
        margin-left: 0vw;
    }
    #projects .centered {
        justify-content: center;
        height: 15vh;
    }
    #projects .centered .container {
        margin-left: 0vw;
        margin-top: 5vh;
        align-self: center;
    }
    #projects .list li {
        margin-left: 15vw;
        width: 60vw;
        margin-bottom: 10vh;
    }
    #projects .list {
        margin-top: -5vh;
        margin-bottom: -5vh;
    }
    #projects {
        height: 115vh;
    }
}

@media (min-aspect-ratio: 1/1) {
    /* Wide */
    .about-text {
        font-size: 4vmin;
    }
}

@media (aspect-ratio: 1/1) {
    /* default to wide */
    .about-text {
        font-size: 4vmin;
    }
}

@media (max-width: 1000px) {
    .intro {
        width: 75vw;
    }
} 

@media (max-width: 1600px) {
    .about-text {
        font-size: 3.25vmin;
    }
}
@media (max-width: 1200px) {
    .about-text {
        font-size: 3vmin;
    }
}

@media (max-width: 850px) {
    #projects {
        height: 105vh;
    }
}

@media (max-width: 700px) {
    #projects {
        height: 100vh;
    }
}

@media (max-width: 600px) {
    #projects {
        height: 95vh;
    }
}

@media (max-width: 500px) {
    #projects {
        height: 90vh;
    }
}