*{
    padding: 0;
    margin: 0%;
}

body {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

::-webkit-scrollbar {
    background: transparent;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 
main .container {
    width: 74.5vmin;
}

.message {
    margin-bottom: 5vh;
    font-size: 3.5vmin;
    font-family: Verdana, sans-serif;
    color: #464646;
    justify-content: center;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.typed-out-text {
    overflow: hidden;
    border-right: 0.15rem solid orange;
    width: 0;
    animation: typing 2s steps(50) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
    white-space: nowrap;
}

.button {
    position: absolute;
    text-align: center;
    display:flex;
    white-space: nowrap;
    vertical-align: middle;
    justify-content: center;
    margin-top: 10vh;
    cursor: pointer;
    width: 9.5vw;
    height: 3.75vh;
}

.button a {
    font-size: 3vmin;
    align-content: center;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: rgb(129, 129, 129);
    font-weight: bolder;
}

.button:hover a {
    transition: 0.25s ease-in-out;
    color:rgb(61, 61, 61);
}

@keyframes moveArrow {
    from {transform: translateY(0rem) rotate(45deg)}
    to {transform: translateY(1rem) rotate(45deg)}
}

.button:hover .down-arrow {
    animation: moveArrow 0.25s forwards;
    animation-delay: 0s;
    border-color: rgb(61, 61, 61);
    transition: 0.25s ease-in-out;
}

.down-arrow {
    border: solid rgb(129, 129, 129);
    border-width: 0 0.7vmin 0.7vmin 0;
    display: inline-block;
    padding: 1vmin;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}