*{
    padding: 0;
    margin: 0%;
}

body {
    background-color: #cde6f0;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

::-webkit-scrollbar {
    background: transparent;
}

header {
    background-color: #cde6f0;
    height: 4.5rem;
    align-content: center;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 998;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Verdana, sans-serif;
    color: #464646;
}

header nav ul li a:hover {
    transition: 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.header-logo-placement {
    top: 0rem;
    left: 0rem;
    position: absolute;
}

.header-logo-placement:hover {
    transition: 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.header-logo-size {
    height: 4.5rem;
    width: 4.5rem;
}
