*{
    padding: 0;
    margin: 0%;
}

body {
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

::-webkit-scrollbar {
    background: transparent;
}

main {
    height: 90vh;
}