header {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
nav {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
nav a {
    color:red;
    text-decoration: none;
}
body {
    font-size: 20px;
}