:root {
    --palette-color-0: #071108;
    --palette-color-1: #364652;
    --palette-color-2: #9395D3;
    --palette-color-3: #B3B7EE;
    --palette-color-4: #A2A3BB;
    --main-background-color: #FBF9FF;
    --header-opacity: 0.97;
}

body {
    background-color: var(--main-background-color);
}

header {
    background-color: var(--main-background-color);
    height: 7vh;
    align-content: center;
    position: fixed;
    width: 100%;
    opacity: var(--header-opacity);
    z-index: 998;
    border-bottom: 0.15vh solid var(--palette-color-3);
}

header nav {
    display: flex;
    justify-content: right;
    align-content: center;
    margin-right: 3vw;
}

#standard-menu {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

#standard-menu li {
    margin-left: 1vw;
    margin-right: 1vw;
}

#standard-menu li a {
    text-decoration: none;
    font-size: 2.8vh;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-3);
}

#standard-menu li a:hover {
    transition: 0.25s;
    color: var(--palette-color-2);
    cursor: pointer;
}

.header-logo-placement {
    position: absolute;
    left: 0.5vw;
    top: 0;
    align-content: center;
    opacity: 0.85;
}

.header-logo-placement:hover {
    transition: 0.25s;
    opacity: 1;
    cursor: pointer;
}

.header-logo-size {
    height: 6.5vh;
    width: auto;
}

#hamburger-menu {
    display: none;
    z-index: 1;
}

#hamburger-menu a {
    text-decoration: none;
    color: var(--palette-color-3);
}

#hamburger-menu a:hover {
    transition: 0.25s ease-in-out;
    color: var(--palette-color-2);
}

#hamburger-menu input {
    display: block;
    z-index: 2; /* place checkmark over hamburger */
    width: 4vh;
    height: 4vh;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#hamburger-menu .actual-hamburger {
    margin-top: -0.5rem;
    display: flex;
    width: 4vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hamburger-menu .actual-hamburger span {
    display: block;
    width: 4vh;
    height: 0.5vh;
    margin-top: 0.75vh;
    background: var(--palette-color-0);
    opacity: 0.8;
    border-radius: 0.5rem;
    z-index: 1;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.25s ease;
}

#hamburger-menu input:hover ~ span {
    opacity: 1;
}

#hamburger-menu input:checked ~ span {
  opacity: 1;
  transform: translate(-0.15vh, -1.5vh) rotate(-45deg);
  background: #232323;
}

#hamburger-menu input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger-menu input:checked ~ span:nth-last-child(4) {
  transform: translate(-0.1vh, 1vh) rotate(45deg);
}

#menu {
    position: absolute;
    top: 7vh;
    left: 0;
    display: flex;
    opacity: 0;
    background-color: var(--main-background-color);
    width: 100%;
    height: 25vh;
    transition: 0.25s ease-in-out;
}

#menu ul li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh; 
    font-size: 2.8vh;
    font-family: Verdana, sans-serif;
    color: var(--palette-color-3);
}

#menu ul {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 10vw;
}

#hamburger-menu input:checked ~ #menu {
    opacity: var(--header-opacity);
    border-bottom: 0.15vh solid var(--palette-color-3);
    border-top: 0.15vh solid var(--palette-color-3);
}

@media (max-aspect-ratio: 1/1) {
    #standard-menu {
        display: none;
    }
    #hamburger-menu {
        display: block;
    }
}