/* My logo is the letter Q in the font Satisfy, 100x100px */
*{
    padding: 0;
    margin: 0.5%;
}

header {
    height: 4.5rem;
    align-content: center;

    border: 1px solid grey;
}

header nav ul {
    display: flex;
    margin-left: 75%;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

header nav ul li {
    margin-right: 10%;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Georgia, serif;
    color: #838383;
}

.header-logo-placement {
    margin-top: 2.5%;
    margin-left: -300%;
    margin-right: 270%
}

.header-logo-size {
    height: 4.5rem;
    width: 4.5rem;
}

#social-media-overlay {
    position: fixed;
    bottom: 0.5%;
    right: 2%;
    width: 11.5%;

    border: 1px solid grey;
}

#social-media-overlay ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#social-media-overlay ul li {
    margin: 5%;
}

#social-media-overlay ul li:hover {
    transition: .25s ease-in-out;
    filter: drop-shadow(1.5px 1.5px 1.5px gray);
}

#social-media-overlay ul li a img {
    height: 3rem;
    width: 3rem;
}

#intro { /* id */
    height: 100vh;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;

    border: 1px solid grey;
}

.intro { /* class */
    margin-bottom: 10%;
    margin-left: 10%;
    font-size: 3rem;
    font-family: Georgia, serif;
    color: #838383;
    width: 50%;

    border: 1px solid red;
}

.emphasis {
    color: #505050;
    font-weight: bold;
    text-decoration: none;
}

.small-text {
    font-size: 1.8rem;
}

#about {
    height: 100vh;
    display: flex;
    /* justify-content: start; */
    align-content: center;
    align-items: center;

    border: 1px solid grey;
}

.about {
    margin-bottom: 10%;
    margin-left: 0%;
    font-size: 3rem;
    font-family: Georgia, serif;
    color: #838383;
    width: 40%;

    border: 1px solid red;
}

#about img {
    height: 10rem;
    width: 10rem;
    margin-left: 30%;
}