/* My logo is the letter Q in the font Satisfy, 100x100px */
*{
    padding: 0;
    margin: 0%;
}

body {
    background-color: #cde6f0;
}

header {
    background-color: #cde6f0;
    height: 4.5rem;
    align-content: center;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 998;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Verdana, sans-serif;
    color: #464646;
}

header nav ul li a:hover {
    transition: 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.header-logo-placement {
    top: 0rem;
    left: 0rem;
    position: absolute;
}

.header-logo-placement:hover {
    transition: 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.header-logo-size {
    height: 4.5rem;
    width: 4.5rem;
}

.scroll-control {
    position: fixed;
    left: 2%;
    top: 50%;
    z-index: 999;
}

.scroll-control .origin {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #000;
    opacity: 0.5;
}

.scroll-control .origin:hover {
    transition: 0.25s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.bolded {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #000;
    opacity: 1;
}

#social-media-overlay {
    position: fixed;
    bottom: 0.5%;
    right: 2%;
    width: 11.5%;
    height: 8%;
    align-content: center;
    align-items: center;
    justify-content: right;
    z-index: 997;
}

#social-media-overlay ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

#social-media-overlay ul li {
    margin: 5%;
}

#social-media-overlay ul li:hover {
    transition: .25s ease-in-out;
    opacity: 0.75;
    /* filter: drop-shadow(1.5px 1.5px 1.5px gray); */
}

#social-media-overlay ul li a img {
    height: 3rem;
    width: 3rem;
}

#intro { /* id */
    height: 100vh;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.intro { /* class */
    position: absolute;
    margin-left: 10%;
    font-size: 3rem;
    font-family: Verdana, sans-serif;
    color: #464646;
    width: 50%;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.container .typed-out-text {
    overflow: hidden;
    border-right: 0.15rem solid orange;
    width: 0;
    white-space: nowrap;
}

.container .typed-out-text.in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

.intro .container {
    width: 36.5%;
    height: 3rem;
    padding-bottom: 0.75rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text .description {
    opacity: 0;
    padding-bottom: 0.75rem;
}

.fade-in-text .description.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

.fade-in-text .small-text {
    opacity: 0;
    font-size: 1.8rem;
}

.fade-in-text .small-text.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.5s, 0.5s;
}

.fade-in-text .small-text a:hover {
    transition: 0.25s ease-in-out;
    text-decoration-color: gray;
    color: rgb(61, 61, 61);
}

.emphasis {
    color: #505050;
    font-weight: bold;
    text-decoration: none;
}

.link {
    text-decoration: underline;
    text-underline-offset: 5.5px;
    text-decoration-color: darkgrey;
    text-decoration-style: wavy;
    z-index: 996;
}

#about {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.about-text {
    position: absolute;
    margin-left: 40%;
    font-size: 3rem;
    font-family: Verdana, sans-serif;
    color: #464646;
    width: 40%;
}

.about-text .description {
    opacity: 0;
    color: #505050;
    font-weight: bold;
}

.about-text .container {
    width: 40.5%;
    /* height: 2rem; */
}

.about-text .container .small-text{
    font-size: 1.8rem;
    overflow: hidden;
    border-right: 0.15rem solid orange;
    width: 0;
    white-space: nowrap;
}

#about .about-text .container .in-view {
    animation: typing 1.5s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 2s;
}

@keyframes moveInPic {
    from {transform: translateY(3rem) scale(0.5, 0.5)}
    to {transform: translateY(0rem) scale(0.5, 0.5)}
}

#about .pic {
    opacity: 0;
    position: absolute;
    transform: scale(0.5, 0.5);
    margin-left: 13%;
}

#about .in-view.description {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;;
    animation-delay: 0.25s, 0.25s;
}

#about .in-view.pic {
    animation: fadeIn 1.5s forwards,
        moveInPic 1s forwards;;
    animation-delay: 0.5s, 0.5s;
}

#projects {
    height: 250vh;
    display: flex;
}

#projects .container {
    position: absolute;
    width: 14%;
}

#projects .title {
    margin-top: 7.5rem;
    margin-left: 10rem;
    font-size: 4rem;
    font-family: Verdana, sans-serif;
    color: #464646;
    
    overflow: hidden;
    border-right: 0.15rem solid orange;
    width: 0;
    white-space: nowrap;
}

#projects .title.in-view {
    animation: typing 1s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 1.5s;
}

#projects .list {
    list-style-type: none;
    color: #464646;
    font-family: Verdana, sans-serif;

    /* border: 1px solid red; */
    height: 190vh;
}

@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}

#projects .list li {
    margin-left: 20rem;
    width: 50rem;
    margin-bottom: 25rem;
    opacity: 0;
    /* border: 1px solid red; */
}

#projects .list li.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .list .one {
    margin-top: 25rem;
}

#projects .list .date {
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.9rem;
    padding: 0.25rem;
    color: rgb(129, 129, 129);
}

#projects .list .heading {
    margin-top: -0.5rem;
    font-weight: bold;
    font-size: 3rem;
}

#projects .list .description {
    font-size: 1.5rem;
}

#projects .list .button {
    text-align: left;
    white-space: nowrap;
    align-content: center;
    cursor: pointer;
    border-radius: 4px;
    width: 10rem;
    height: 2.5rem;
}

#projects .list .button a {
    text-decoration: none;
    color: #464646;
}

#projects .list .button .text {
    margin-left: 1rem;
    font-size: 1rem;
    margin-right: -0.1rem;
    font-weight: bolder;
}

#projects .list .button:hover .text {
    transition: 0.25s ease-in-out;
    color:black;
}

#projects .list .button .arrow {
    font-size: 1.1rem;
}

#projects .list .button:hover .arrow {
    transition: 0.25s ease-in-out;
    margin-left: 0.8rem;
}

#projects .more-projects {
    position: absolute;
    width: 15%;
    height: 3rem;
    text-align: center;
    margin-left: 42.5%;
    margin-top: 115%;
    opacity: 0;
}

#projects .more-projects.in-view {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}

#projects .more-projects a {
    text-decoration: none;
    color: rgb(129, 129, 129);
    font-weight: bolder;
    font-size: 2rem;
    font-family: Verdana, sans-serif;
}

#projects .more-projects:hover a {
    transition: 0.25s ease-in-out;
    color: rgb(61, 61, 61);
}

#projects .more-projects:hover {
    cursor: pointer;
}

#projects .more-projects:hover .down-arrow {
    animation: moveArrow 0.25s forwards;
    animation-delay: 0s;
    border-color: rgb(61, 61, 61);
    transition: 0.25s ease-in-out;
}

@keyframes moveArrow {
    from {transform: translateY(0rem) rotate(45deg)}
    to {transform: translateY(1rem) rotate(45deg)}
}

.down-arrow {
    border: solid rgb(129, 129, 129);
    border-width: 0 0.4rem 0.4rem 0;
    display: inline-block;
    padding: 0.6rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}