* {
    padding: 0;
    margin: 0;
}

header {
    background-color: transparent;
}

#top {
    height: 90vh;
    display: flex;
    flex-direction: row;
}

#top .image {
    width: 60vw;
    align-content: center;
    background: rgb(179,183,238);
    background: radial-gradient(circle, rgba(179,183,238,1) 0%, rgba(147,149,211,1) 56%, rgba(110,113,173,1) 100%);
    /* background: rgb(147,149,211);
    background: radial-gradient(circle, rgba(147,149,211,1) 0%, rgba(179,183,238,1) 100%); */
}

#top .image img {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    /* filter: drop-shadow(1vmin 1vmin 0.5vmin gray); */
}

#top .align {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 40vw;
    background: var(--secondary-background-color);
    /* border-bottom: 0.3vh solid var(--palette-color-2); */
}
#top .align .text {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    font-family: Verdana, sans-serif;
    font-size: 3vmin;
    color: var(--palette-color-3);
}
#top .align .text .title {
    color: var(--palette-color-1);
    font-size: 4vmin;
    font-weight: bold;
    opacity: 0;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#top .align .text .description {
    opacity: 0;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#top .align .text .down-arrow {
    opacity: 0;
    font-size: 5vmin;
    margin-top: 3vh;
    color: var(--palette-color-1);
    font-weight: bolder;
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.75s, 0.75s;
}

#middle {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#middle .left-text {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: 2.5vmin;
    color: var(--palette-color-3);
}
#middle .left-text .title {
    color: var(--palette-color-1);
    margin-bottom: 2.5vh;
    font-size: 3.5vmin;
    font-weight: bold;
    opacity: 0;
}
#middle .left-text.in-view .title {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#middle .left-text .description {
    opacity: 0;
}
#middle .left-text.in-view .description {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#middle .container {
    display: flex;
    flex-direction: row;
}

#middle .right-text {
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
    font-size: 2.5vmin;
    color: var(--palette-color-3);
    font-style: italic;
}
#middle .right-text .emphasis {
    font-weight: bold;
    color: var(--palette-color-1);
    font-style: normal;
}
#middle .right-text div {
    margin-bottom: 5vh;
}
#middle .right-text .timeline {
    opacity: 0;
}
#middle .right-text.in-view .timeline {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.25s, 0.25s;
}
#middle .right-text .role {
    opacity: 0;
}
#middle .right-text.in-view .role {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.5s, 0.5s;
}
#middle .right-text .skills {
    opacity: 0;
}
#middle .right-text.in-view .skills {
    animation: fadeIn 1.5s forwards,
        moveIn 1s forwards;
    animation-delay: 0.75s, 0.75s;
}

#middle1 {
    height: 75vh;
    background-color: var(--secondary-background-color);
}

#bottom {
    height: 75vh;
}

@keyframes moveIn {
    from {transform: translateY(3rem)}
    to {transform: translateY(0rem)}
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}