:root {
    --main-background-color: #D66853;
}

body {
    background-color: var(--main-background-color);
}

header {
    background-color: var(--main-background-color);
    height: 7vh;
    align-content: center;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 998;
}

header nav {
    display: flex;
    justify-content: right;
    margin-right: 3vw;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

header nav ul li {
    margin-left: 1vw;
    margin-right: 1vw;
}

header nav ul li a {
    text-decoration: none;
    font-size: 2.8vh;
    font-family: Verdana, sans-serif;
    color: #464646;
}

header nav ul li a:hover {
    transition: 0.25s;
    opacity: 0.85;
    cursor: pointer;
}

.header-logo-placement {
    position: absolute;
    left: 0.5vw;
    top: 0;
    align-content: center;
}

.header-logo-placement:hover {
    transition: 0.25s;
    opacity: 0.7;
    cursor: pointer;
}

.header-logo-size {
    height: 6.5vh;
    width: auto;
}