/* My logo is the letter Q in the font Satisfy, 100x100px */
*{
    padding: 0;
    margin: 0%;
}

body {
    background-color: #cde6f0;
}

header {
    background-color: #cde6f0;
    height: 4.5rem;
    align-content: center;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

header nav ul li {
    margin-right: 40px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: Georgia, serif;
    color: #838383;
}

header nav ul li a:hover {
    transition: 0.25s;
    opacity: 0.7;
}

.header-logo-placement {
    top: 0rem;
    left: 0rem;
    position: absolute;
}

.header-logo-placement:hover {
    transition: 0.25s;
    opacity: 0.7;
}

.header-logo-size {
    height: 4.5rem;
    width: 4.5rem;
}

.scroll-control {
    position: fixed;
    left: 2%;
    top: 50%;
    z-index: 999;
}

.scroll-control .origin {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #000;
    opacity: 0.5;
}

.scroll-control .origin:hover {
    transition: 0.25s ease-in-out;
    opacity: 1;
}

.bolded {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #000;
    opacity: 1;
}

#social-media-overlay {
    position: fixed;
    bottom: 0.5%;
    right: 2%;
    width: 11.5%;
    height: 8%;
    align-content: center;
    align-items: center;
    justify-content: right;
}

#social-media-overlay ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: right;
}

#social-media-overlay ul li {
    margin: 5%;
}

#social-media-overlay ul li:hover {
    transition: .25s ease-in-out;
    opacity: 0.75;
    /* filter: drop-shadow(1.5px 1.5px 1.5px gray); */
}

#social-media-overlay ul li a img {
    height: 3rem;
    width: 3rem;
}

#intro { /* id */
    height: 100vh;
    display: flex;
    justify-content: start;
    align-content: center;
    align-items: center;

    border: 1px solid grey;
}

.intro { /* class */
    margin-left: 10%;
    font-size: 3rem;
    font-family: Georgia, serif;
    color: #838383;
    width: 50%;

    border: 1px solid red;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.typed-out-text {
    overflow: hidden;
    border-right: 0.15rem solid orange;
    width: 0;
    animation: typing 1s steps(20) forwards,
        blink-caret 1s step-end infinite;
    animation-delay: 0s, 1.5s;
    white-space: nowrap;
}
.intro .container {
    width: 34%;
    height: 3rem;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fade-in-text {
    animation: fadeIn 0.75s;
}

.emphasis {
    color: #505050;
    font-weight: bold;
    text-decoration: none;
}

.small-text {
    font-size: 1.8rem;
}

#about {
    height: 100vh;
    display: flex;
    /* justify-content: start; */
    align-content: center;
    align-items: center;

    border: 1px solid grey;
}

.about-text {
    position: absolute;
    margin-left: 40%;
    font-size: 3rem;
    font-family: Georgia, serif;
    color: #838383;
    width: 40%;

    border: 1px solid red;
}

#about img {
    position: absolute;
    transform: scale(0.5, 0.5);
    margin-left: 13%;
}

#projects {
    height: 300vh;
    display: flex;

    border: 5px solid grey;
}

#projects .title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 5rem;
    font-family: Georgia, serif;
    color: #838383;
    width: 30%;
    height: 10%;

    border: 1px solid red;
}